@font-face {
    /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/****************************************************
* Core page styles
*/

* {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
}

input:-webkit-autofill {
    background-color: #ffffff !important;
    background-image: none !important;
    color: #000000 !important;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

html,
body {
    background-color: white;
}

body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* ensure all root elements are height 100% as AppContainer child represents the container for the entire app and must fill full screen (see BuilderComponentOverlay) */

html,
body,
#root,
#app {
    height: 100%;
}


/* ensure body 100% on full screen mode */

body {
    width: 100%;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
}
.ReactModal__Content:focus {
    outline: none !important;
}