@font-face {
    font-family: "Uni Neue Heavy";
    src: url("10102") format('truetype');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("10101") format('truetype');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("10100") format('truetype');
    font-weight: bold;
}

:root {
    --color-header-text-color: #24343C;
    --background-color-button: #013064;
    --background-color-break: #00857E;
    --background-color-icon: #FFFFFF;
    --button-color-hover: #003A7B;
    --button-color-mousedown: #002751;
    --font-family-header: "Uni Neue Heavy", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-paragraph: "Source Sans Pro", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.top-gradient {
    background-image: url("10018");
}

main {
    background-image: url("10019");
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    main {
        background-image: url("10020");
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    main {
        background-image: url("10021");
    }
}
